---
import CallToAction from './CallToAction.astro'

const currentYear = new Date().getFullYear()
---

<footer>
  <CallToAction />
  <section class="py-8">
    <div class="container">
      <p>
        &copy; {currentYear} - Valix Consulting. Made with ❤️ by <a
          href={import.meta.env.PUBLIC_GITHUB_REPO}>Valix Audit Team</a
        >.
      </p>
    </div>
  </section>
</footer>
